<div class="container">
  <div class="d-flex flex-row justify-content-center align-items-center mt-5">
    <div class="p2">
      <h3>There's a better way to ask</h3>
      <br />
      <h6>
        You don't want to make a boring form. And your audience won't answer
        one. Create a typeform instead—and make everyone happy.
      </h6>
      <br />
      <button
        type="button"
        class="btn btn-primary"
        tooltip="Would you like to take up."
        (click)="onNavigateQuestion()"
      >
        Get Started - it's free
      </button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
