<form [formGroup]="multiplechoiceGrp" novalidate>
  <ng-container class="form-group row" *ngFor="let data of QuestionData">
    <div
      class="form-group input-group row my-4"
      *ngIf="data.question_type == 'multiple-choice'"
    >
      <div>
        <h4>{{ data?.count }}) {{ data?.headline }} -</h4>
      </div>

      <div>
        <mat-form-field
          appearance="fill"
          class="app-multiple-choice__form-field"
        >
          <mat-select
            matNativeControl
            class="form-control"
            (selectionChange)="
              onMultipleChoiceChange($event.value, data?.identifier)
            "
          >
            <mat-option
              *ngFor="let choice of data.choices"
              [value]="choice.value"
            >
              {{ choice.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group my-4" *ngIf="data.question_type == 'text'">
      <h4>{{ data?.count }}) {{ data?.headline }}</h4>
      <input
        type="text"
        (keypress)="onMultipleChoiceChange($event, data?.identifier)"
        class="form-control app-multiple-choice__form-field"
        autocomplete="off"
      />
    </div>
  </ng-container>
</form>
